# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Below are a few examples of evaluating arithmetic expressions in Python

##### Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

##### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. numPay
3. plotly

| Data Science Tools |
|--------------------|
| Jupyter NoteBook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [47]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [48]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nourah